:root {
  --secondary-color: #e8eaed;
  --bg-color: #202124;
  --link-color: #8ab4f8;
  --primary-color: #bcc0c3;
  --line-color: #3a3a3a;
  --bg-content-color: #303134;
}

body {
  font-family: "Arial", sans-serif;
  color: var(--primary-color);
  background-color: var(--bg-color);
  font-size: 16px;
  padding: 20px 0 0 0;
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
section {
  margin-top: 10px;
  padding: 2px 0;
  margin-left: 182px;
  max-width: 652px;
  width: 100%;
}
table {
  border-collapse: collapse;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
p {
  margin: 0;
}
svg {
  width: 24px;
  fill: var(--primary-color);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h3 {
  color: var(--link-color);
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background-color: var(--line-color);
}
footer {
  margin-top: 20px;
  background: #171717;
  line-height: 40px;
  padding-bottom: 12px;
}
.container {
  margin: 0 2%;
}
/* Custom CSS Properties */
.flex {
  display: flex;
}
.center {
  margin-left: 180px;
  width: 652px;
}
.date {
  font-size: 12px;
  line-height: 1.34;
  white-space: nowrap;
  font-family: "Arial";
}
.small-text {
  font-size: 14px;
  line-height: 1.58;
}
.tiny-text {
  font-weight: 300;
  font-size: 12px;
}
.three-dot {
  width: 18px;
  margin-bottom: -5px;
  margin-left: 20px;
}
.selected {
  color: var(--primary-color);
}
