/* Navbar */
nav {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 92px;
  height: 30px;
}
.nav-top {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
}
.nav-left {
  gap: 30px;
  width: 100%;
  align-items: center;
}
.search-container {
  background-color: var(--bg-content-color);
  padding: 8px 20px;
  border-radius: 40px;
  align-items: center;
  width: 100%;
  flex: 100%;
  max-width: 560px;
  height: 50px;
  justify-content: space-between;
}
.search-container input {
  border: hidden;
  background-color: transparent;
  padding: 0;
  margin: 0 10px;
  color: rgb(232 234 237);
  word-wrap: break-word;
  outline: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  height: 34px;
  font-size: 16px;
}
.search-icon {
  fill: var(--link-color);
}
.nav-right ul {
  gap: 20px;
  white-space: nowrap;
  align-items: center;
}
.nav-right svg {
  fill: var(--secondary-color);
}
.nav-right button {
  background: var(--link-color);
  border: 1px solid transparent;
  padding: 9px 15px;
  min-width: 80px;
  border-radius: 4px;
}
.nav-bottom ul {
  gap: 20px;
  align-items: center;
  width: 100%;
}
.nav-bottom ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}
.nav-bottom ul li:first-child {
  border-bottom: 3px solid var(--link-color);
}
.nav-bottom ul li:nth-child(7) {
  margin-left: auto;
}
/* Main Content */
.search-results {
  margin-bottom: 10px;
  padding: 8px 0;
}
.top-section {
  flex-direction: column;
}
.section-container {
  justify-content: space-between;
}
.top-section p {
  max-width: 423px;
  padding: 0 10px 0 0;
  line-height: 24px;
}
.top-section img {
  max-width: 187px;
  height: 150px;
  border-radius: 10px;
}
.top-link-section {
  margin-top: 10px;
}
.feedback-section {
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}
.feedback-section p {
  padding-left: 15px;
  padding-right: 0;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.feedback-section svg {
  margin: 0 3px;
  width: 13.35px;
  height: 13.35px;
}
.line-container {
  width: 100%;
}
section h2 {
  font-weight: 400;
  font-size: 22px;
  color: var(--secondary-color);
}
h3.suggestions {
  color: var(--primary-color);
  padding: 5px 0;
  font-size: 17px;
}
.suggestions-list {
  justify-content: space-between;
  padding: 5px 0;
}
.link-section h3 {
  margin: 5px 0;
}
.link-section p.tiny-text {
  font-weight: normal;
}
/* Grid Bottom Section */
.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.grid-child {
  background-color: var(--bg-content-color);
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: 48px;
  max-height: none;
  padding: 10px;
  border-radius: 100px;
  margin-right: 8px;
  margin-bottom: 10px;
}
.grid-child svg {
  position: relative;
  margin-left: 20px;
}
.bottom-google {
  text-align: center;
}
.bottom-google table {
  margin: auto;
}
.bottom-google td {
  color: var(--link-color);
}
.bottom-google .google-letters {
  height: 40px;
  display: block;
}
/* Google */
.g-uppercase {
  background: url(/images/nav_logo321.webp) no-repeat;
  background-position: -24px -112px;
  width: 28px;
}
.o {
  background: url(/images/nav_logo321.webp) no-repeat;
  background-position: -53px -112px;
  width: 20px;
}
.gle {
  background: url(/images/nav_logo321.webp) no-repeat;
  background-position: -96px -112px;
  width: 71px;
}
.next {
  margin-left: 50px;
  display: block;
}
/* Footer */
.footer-content {
  line-height: 40px;
  padding-top: 10px;
}
.footer-top,
.footer-bottom {
  margin-left: 182px;
}
.footer-top {
  gap: 10px;
}
.footer-top .country {
  border-right: 1px solid var(--line-color);
  padding-right: 10px;
}
.big-dot {
  background: #616161;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  vertical-align: middle;
  width: 10px;
}
.location {
  gap: 10px;
}
.location .location-link {
  color: #48a1ff;
}
.footer-bottom ul {
  align-items: center;
  gap: 20px;
}
